absl-py==0.11.0
aiohttp==3.7.4
akro==0.0.8
appdirs==1.4.4
astor==0.8.1
astunparse==1.6.3
async-timeout==3.0.1
atari-py==0.2.6
attrs==20.3.0
beautifulsoup4==4.9.3
box2d-py==2.3.8
cached-property==1.5.2
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cloudpickle==1.6.0
cma==2.7.0
colorama==0.4.4
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
dm-env==1.4
dm-tree==0.1.5
dowel==0.0.3
filelock==3.0.12
flatbuffers==1.12
future==0.18.2
gast==0.2.2
glfw==2.0.0
google==3.0.0
google-auth==1.27.0
google-auth-oauthlib==0.4.2
google-pasta==0.2.0
grpcio==1.35.0
gym==0.18.0
gym-minigrid==1.0.2
h5py==3.1.0
idna==2.10
idna-ssl==1.1.0
imageio==2.9.0
importlib-metadata==3.7.0
install==1.3.4
joblib==0.12.5
jsonschema==3.2.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.1
labmaze==1.0.3
lxml==4.6.2
Markdown==3.3.4
matplotlib==3.3.4
mjrl @ git+git://github.com/aravindr93/mjrl@a38324680e76347bfc5040114017b443060b1e0d
msgpack==1.0.2
mujoco-py==0.5.7
multidict==5.1.0
mypy-extensions==0.4.3
networkx==2.5
numpy==1.19.5
oauthlib==3.1.0
opencv-python==4.5.1.48
opt-einsum==3.3.0
pathspec==0.8.1
Pillow==7.2.0
protobuf==3.15.2
psutil==5.8.0
py-spy==0.3.4
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.0.8
# -e git+git@github.com:benelot/pybullet-gym.git@ec9e87459dd76d92fe3e59ee4417e5a665504f62#egg=pybulletgym
pyglet==1.5.0
PyOpenGL==3.1.5
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
PyWavelets==1.1.1
PyYAML==5.4.1
ray==0.8.6
redis==3.4.1
regex==2020.11.13
requests==2.25.1
requests-oauthlib==1.3.0
rsa==4.7.2
scikit-image==0.17.2
scipy==1.5.4
setproctitle==1.2.2
six==1.15.0
soupsieve==2.2
tabulate==0.8.9
tensorboard==1.15.0
tensorboard-plugin-wit==1.8.0
tensorboardX==2.1
tensorflow==1.15.0
tensorflow-estimator==1.15.1
tensorflow-probability==0.12.1
termcolor==1.1.0
tifffile==2020.9.3
toml==0.10.2
torch==1.7.1
torchvision==0.8.2
tqdm==4.57.0
typed-ast==1.4.2
typing-extensions==3.7.4.3
urllib3==1.26.3
Werkzeug==1.0.1
wrapt==1.12.1
yarl==1.6.3
zipp==3.4.0